<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805207020798-83411pu7iv37hc3l0fb7u0u8rspcddbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805207020798-83411pu7iv37hc3l0fb7u0u8rspcddbr</string>
	<key>API_KEY</key>
	<string>AIzaSyBWbAU_uB7KNhriAclqZUc8dAe8BOfknyY</string>
	<key>GCM_SENDER_ID</key>
	<string>805207020798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sahlan.Motivation</string>
	<key>PROJECT_ID</key>
	<string>motivation-26877</string>
	<key>STORAGE_BUCKET</key>
	<string>motivation-26877.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805207020798:ios:5fd5a8d49a604140bb41af</string>
	<key>DATABASE_URL</key>
	<string>https://motivation-26877.firebaseio.com</string>
</dict>
</plist>